/* --- Font --- */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* --- Colors --- */

:root {
    --almost-white : hsl(0, 0%, 98%);
    --medium-gray : hsl(0, 0%, 41%);
    --almost-black : hsl(0, 0%, 8%);
}

/* --- Base  --- */

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    color: var(--medium-gray);
    height: 100vh !important;
    background-color: var(--almost-white);
}

nav{
    background-color: var(--almost-white) !important;
    
}

.navbar__logo {
    width: 100px;
    margin: 1rem;
}

a {
    font-size: 1rem;
}

a:hover {
    font-weight: 700 !important;
    color: var(--almost-black) !important;
    background-color: var(--almost-white) !important;
}

.navbar-item img {
    margin-right: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 80%;
    margin:3rem auto;
}

.left__column, .right__column {
    width: 45%;
}

.left__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left__column-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    padding-top: 6rem;
    color: var(--almost-black);
}

.left__column-text {
    width: 85%;
    color: var(--medium-gray);
}

.left__column-button {
    color: var(--almost-white);
    font-weight: 700;
    background-color: var(--almost-black);
    width: fit-content;
    border-radius: 8px;
    border-style: none;
    padding: 0.7rem 1rem;
}

.left__column-button:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
    border: 1px solid var(--almost-black);
    border-radius: 8px;
    cursor: pointer;
}

.left__column-logos {
    display: flex;
    justify-content: space-between;
}

.left__column-logo {
    margin: auto 1rem;
}

.right__column {
    display: flex;
    height: 100%;
    background-image: url('../images/image-hero-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.register {
    border: 1px solid var(--almost-black);
    border-radius: 8px;
    margin-left: 1rem;
    padding: 0.3rem 1rem;
}
@media screen and ( max-width: 768px){
    .right__column {
        width: 100%;
        background-image: url('../images/image-hero-mobile.png');
    }

    #navbarBasicExample{
        width: 65%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-burger {
        z-index: 1;
    }

    .login, .register {
        text-align: center;
    }

    main {
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }

    .left__column {
        width: 100%;
        text-align: center;
    }

    .left__column-title {
        font-size: 2.3rem;
        font-weight: bolder;
        line-height: normal;
        width: 100%;   
        margin-top: 3rem; 
        padding-top: 0;    
    }

    .left__column-text {
        margin: 1rem auto;
        font-size: 1rem;
    }

    .left__column-button {
        margin:1rem auto;
    }

    .left__column-logos {
        margin:2rem 1rem
    }

    .left__column-logo {
        margin: auto 0.5rem;
    }
}

